@font-face {
    font-family:'MyFont';
    src: url('public/DolomanPavljenko.otf') format('OpenType');
  }
body {
    background-color: white;
    margin: 0;
    padding: 0;

}

header {
    background-color: #466a45;
    text-align: center;
    color: white;
    font-family: 'MyFont';
}

header h1 {
    
    margin: 0;
}

button {
    background-color: #3b5a3a;
    color: white;
    border: 0;
    transition: background-color 0.3s;
}

#h {
    height: 50px;
    width: 300px;
    
}

h2 {
    text-align: center;
}

#n1 {
    height: 50px;
    width: 150px;
    font-family: 'MyFont';
    
}

button:hover {
    background-color: #5f865d;
}
nav {
    list-style: none;
    padding: 0;
    text-align: center;
    display: inline;

}

article {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}